<!doctype html>
<html class="no-js" lang="sv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Knowit Tools Fullstack Developer Test</title>

    <link rel="stylesheet" href="./dist/css/app.css">

    <!--[if lt IE 9]>
    <script type="text/javascript">
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    </script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <![endif]-->

    <script src="./dist/js/app.dev.js"></script>
</head>
<body>
    <header>
        <img src="http://knowit.se/globalassets/system/icons-and-logotypes/knowit-logotypes/knowit-logo-b.png/Large50" alt="Knowit">
    </header>

    <main>
        <div class="container">
            <form action="#" class="search">
                <div class="form-group form-group-inline">
                    <label>Search:</label>
                    <input type="search" name="s">
                    <input type="submit" value="Search">
                </div>
            </form>

            <table>
                <tr>
                    <th><strong>Service</strong></th>
                    <th><strong>Group</strong></th>
                    <th></th>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td>{{ group }}</td>
                    <td><a href="{{ url }}">Read more</a></td>
                </tr>
            </table>
        </div>
    </main>
</body>
</html>
